[submodule "xptools"]
	path = xptools
	url = ../xptools.git
[submodule "log"]
	path = log
	url = ../logtools.git
[submodule "VkFFT"]
	path = VkFFT
	url = ../VkFFT.git
[submodule "libtslitex"]
	path = libtslitex
	url = https://github.com/EEVengers/libtslitex.git
