[submodule "xptools"]
	path = xptools
	url = ../xptools.git
[submodule "log"]
	path = log
	url = ../logtools.git
[submodule "VkFFT"]
	path = VkFFT
	url = ../VkFFT.git
[submodule "libthunderscope"]
	path = libthunderscope
	url = https://github.com/Johnsel/libthunderscope.git
